@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Kanit';
  font-weight: 400;
}

html,
body {
  background-color: theme(colors.background.DEFAULT);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Jost';
  font-weight: 700;
  color: theme(colors.text.DEFAULT);
}

html {
  font-size: 100%; /* 16px */
  color: theme(colors.text.DEFAULT);
}

h1 {
  font-size: 3.053rem; /* 48.8px */
  color: theme(colors.text.DEFAULT);
}

h2 {
  font-size: 2.442rem; /* 39.04px */
  color: theme(colors.text.DEFAULT);
}

h3 {
  font-size: 1.954rem; /* 31.2px */
  color: theme(colors.text.DEFAULT);
}

h4 {
  font-size: 1.563rem; /* 24.96px */
  color: theme(colors.text.DEFAULT);
}

h5 {
  font-size: 1.25rem; /* 20px */
  color: theme(colors.text.DEFAULT);
}

small {
  font-size: 0.8rem; /* 12.8px */
  color: theme(colors.text.DEFAULT);
}

input,
textarea {
  font-family: 'Kanit';
  font-weight: 400;
  color: theme(colors.text.DEFAULT);
  background-color: theme(colors.background.DEFAULT);
  border: 1px solid theme(colors.secondary.DEFAULT);
  padding: 0.5rem;
  border-radius: theme(borderRadius.md);
}
